.chatBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
    width: 768px;
    background-color: var(--chatbox-bg);
    border-radius: 35px;
    border-color: var(--chatbox-border);
    /* border-width: 1px; */

    min-height: 70px;
    max-height: 275px;
}

.chatBox p {
    color: var(--chatbox-placeholder);
}

.textbox {
    align-content: center;
    border: none;
    background: transparent;
    color: var(--textbox-color);
    width: 100%;
    outline: none;
    resize: none;
    overflow: hidden;
    overflow-y: auto;
    height: auto;
    box-sizing: border-box;
    padding: 0px 12px;
}

.textbox:focus {
  outline: none;
}

.sendButton {
    background: none;
    border: none;
    padding: 5px;
    color: var(--send-btn);
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.sendButton:hover {
    color: var(--send-btn-hover);
}

.chatBottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
